/*https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css*/

/* .vitepress/theme/my-fonts.css */
:root {
    --vp-font-family-base: "Source Serif 4", serif; 
    --vp-font-family-mono: "Source Code Pro", monospace; 

    --vp-c-tip-soft: rgba(99, 185, 255, 0.14);

    --vp-c-indigo-1: #00407A;
    --vp-c-indigo-2: #3a5ccc;
    --vp-c-indigo-3: #5672cd;
    --vp-c-indigo-soft: rgba(100, 108, 255, 0.14);

    /* Brand colors */
    --vp-c-brand-1: var(--vp-c-indigo-1);
    --vp-c-brand-2: var(--vp-c-indigo-2);
    --vp-c-brand-3: var(--vp-c-indigo-3);
    --vp-c-brand-soft: var(--vp-c-indigo-soft);
}

.VPNav, .VPSidebar, .VPFooter, .VPDocFooter, .VPDocAside, .VPHomeHero, .VPHomeFeatures, .VPHomeSponsors, .VPHomeNews, .VPHomeFooter {
  font-family: "Source Sans 3", sans-serif ;
}

.vp-doc .custom-block {
  font-family: "Source Sans Pro", sans-serif ;
  margin: 16px -16px;
}

.vp-doc {
  text-align: justify;
}



/*
.main * {
  font-family: "source Serif 4", var(--vp-font-family-base);
}

.main code, .main pre {
  font-family: "Source Code Pro", var(--vp-font-family-mono);
}

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  font-family: "Source Sans 3", var(--vp-font-family-base);
}
  */